<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-bold" href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/HackerRank_Icon-1000px.png/800px-HackerRank_Icon-1000px.png"
        alt="" width="30" height="24" class="d-inline-block align-text-top">
      HackerRank
    </a>
    <ul>
      <li style="list-style-type:none; padding-right: 2rem; color: white; font-weight: bold; text-transform:uppercase;">
        {{name}}
        <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg" width="30" height="30" alt="" class="d-inline-block align-text-top text-light">
      </li>
      
    </ul>
  </div>
</nav>
