<div class="container mt-5">
    <div class="card">
        <div class="d-inline-flex justify-content-between p-3">
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/HackerRank_Icon-1000px.png/800px-HackerRank_Icon-1000px.png" alt="logo" width="90">
            </div>
            <div class="quiz-handler">
                <h4 style="font-family: cursive;">Angular & Typescript Quiz</h4>
                <span>Weclome {{name}}</span> <br>
                <span>email: {{email}}</span>
            </div>
            <!-- <div class="quiz-handler">
                <h4 style="font-family: cursive;">Angular & Typescript Quiz</h4>
                
            </div> -->
        </div>
<!-- Exam Part -->
        <ng-container *ngIf="!isQuizCompleted">
            <div class="d-flex justify-content-around py-3">
                <div class="score">
                    <h5>{{points}} Points</h5>
                </div>
                <div class="question-remain">
                    <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionList.length}}</span>
                </div>
                <div class="timer">
                    <h5>{{counter}} sec ⏲️</h5>
                </div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': progress+'%'}"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="question">
                <div class="card">
                    <h3>{{questionList[currentQuestion]?.questionText}}</h3>
                </div>
            </div>
            <div class="option">
                <ol *ngFor="let option of questionList[currentQuestion]?.options">
                    <li (click)="answer(currentQuestion+1, option)">
                        <div appChangeBg [isCorrect]="option.correct" class="card">
                            {{option.text}}
                        </div>
                    </li>
                </ol>
            </div>
            <div class="d-flex justify-content-between">
                <button [disabled]="currentQuestion===0" class="btn" (click)="prevQuestion()"><svg
                        xmlns="http://www.w3.org/2000/svg" height="2em"
                        viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                    </svg></button>
                <button (click)="resetquiz()" class="btn"><svg xmlns="http://www.w3.org/2000/svg" height="2em"
                        viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V448c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H176c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z" />
                    </svg></button>
                <button [disabled]="currentQuestion===8" class="btn" (click)="nextQuestion()"><svg
                        xmlns="http://www.w3.org/2000/svg" height="2em"
                        viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                    </svg></button>
            </div>
        </ng-container>
<!-- Exam Part -->

<!-- Result Part -->
        <ng-container *ngIf="isQuizCompleted">
            <div class="row d-flex justify-content-between">
                <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="https://media.istockphoto.com/id/1125716911/vector/party-popper-with-confetti.jpg?s=612x612&w=0&k=20&c=sAyofM-MQ5TL-pLyFseV9Vke_W2zyYX1btP90oGJQZE=" alt="">
                <div class="result text-center col-md-6 col-sm-12">
                    <h3>Congratulations! {{name}} <br>You have complted the Quiz! <br>Below is your result</h3>
                    <p>Total Questions attempted: {{questionList.length}}</p>
                    <p>Total correct answers: {{correctAnswer}}</p>
                    <p>Total incorrect answers: {{incorrectAnswer}}</p>
                    <p>Your Score: {{points}} Points</p>
                </div>
            </div>
        </ng-container>
<!-- Result Part -->

    </div>
</div>